How you can assist with benefit in-kind, or employee tax reporting requirements? Currently, we are unable to assist with many major tax questions. We encourage you to seek advice from your accountant or legal counsel.